* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --Black: #000;
  --mainColor: #8F28FF;
}

body {
  background-color: #fff;
  font-size: 16px;
  height: 4000px;
}
a {
  /* niestety w tym przypadku musielismy uzyc important :( */
  color: black !important;
  text-decoration: none !important;
}

#scrollto-top{
  position: fixed;
  top: 880px;
  right: 33px;
  float: right;
  z-index: 1000;
  padding: 10px 15px 10px 15px;
  border-radius: 35px;
  border: none;
  background-color: #fff;
  color: #000;
  font-size: 18px;
  transition: all 0.5s;
}

#scrollto-top:hover{
  opacity: 0.9;
}

#scrollto-top:active{
  background-color: #5A6BE3;
}

.desc-span-rwd{
  color: var(--mainColor);
}

.title {
  font-family: "Krona One", sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  padding-top: 15px;
}
.title:after {
  content: "";
  display: block;
  width: 100%;
  margin-top: 10px;
  height: 4px;
  background-color: black;
}

.desc-content {
  list-style-type: none;
  padding: 50px 50px 30px 730px;
  font-family: "Krona One", sans-serif;
}

.desc-content-header {
  font-size: 28px;
  padding-bottom: 20px;
}

.desc-content-li {
  margin-left: 40px;
  list-style-type: disc;
}

.desc-content-a {
  font-size: 20px;
  line-height: 200%;
  text-decoration: none;
  color: var(--Black);
  font-family: "Varta", sans-serif;
  transition: all;
  transition-duration: 0.5s;
}

.desc-content-a:hover {
  color: var(--mainColor);
}

.jump-to-the-end {
  color: #fff;
  font-size: 22px;
  float: right;
  margin-top: -330px;
  margin-right: -50px;
  transform: rotate(-90deg);
  padding: 10px 20px 10px 20px;
  background-color: #8F28FF;
  border-radius: 25px;
  cursor: pointer;
}

.jump-to-the-end-a {
  text-decoration: none;
}

.rwd {
  font-family: "Krona One", sans-serif;
  color: var(--mainColor);
}

.loader {
  transition: 2s;
  font-family: "Press Start 2P", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #636eab;
  z-index: 20;
  height: 100vh;
  flex-direction: column;
}
hr {
  border: none;
  background-color: white;
  color: white;
  width: 20%;
}
.start {
  background-color: #6928ff;
  margin-top: 20px;
  border-radius: 15px;
  padding: 15px;
  border: none;
  cursor: pointer;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*INTRO SLAJD1*/

.introduction {
  color: white;
  height: 80vh;
  background-color: #2f3170;
}
.list {
  height: 50vh;
}

.slay-one {
  float: right;
}

.rwd-what {
  padding: 15px 40px 15px 20px;
  font-family: "Krona One", sans-serif;
  margin-top: 100px;
  font-size: 60px;
}

.p-text {
  padding-left: 25px;
  font-size: 24px;
  width: 400px;
}

.p-text-rwd-ang {
  font-style: italic;
  font-size: 22px;
}

.rwd-what-span {
  color: #8F28FF;
}
.blob {
  margin-top: -50px;
  float: left;
  width: 800px;
}

/*RWD PRACTICE SLAJD2*/

.rwd-practice {
  background-color: #e5e5f7;
opacity: 1;
background-image: radial-gradient(circle at center center, #8F28FF, #e5e5f7), repeating-radial-gradient(circle at center center, #8F28FF, #8F28FF, 10px, transparent 20px, transparent 10px);
background-blend-mode: multiply;
  font-family: "Krona One", sans-serif;
  width: 100%;
  height: 80vh;
  background-color: #fff;
}

.rwd-in-practice {
  margin-left: 100px;
  font-size: 60px;
  float: left;
  color: #27aae2;
}



/*INTRO TWO SLAJD3*/

.introduction-two {
  position: relative;
  background-position: center;
  background-size: cover;
  background-image: url(./7270381.gif);
  background-color: #a993fb;
  height: 80vh;
  color: #fff;
}
.text-container {
  margin-top: 120px;
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.slay-two {

  float: left;
  margin-left: 100px;
  margin-top: -20px;
}

.p-text-two {
  font-weight: bold;
  padding: 0px 20px 100px 20px;
  font-size: 22px;
  width: 700px;
}

.rwd-what-span-two {
  color: #2600b4;
}

.how-img {
  float: left;
  width: 400px;
  margin-left: 200px;
  margin-top: 100px;
}

/* HOW SLAJD */
.how {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-image: url(./giphy.gif);
  width: 100%;
  height: 80vh;
}
.how-rwd {
  top: 0;
  position: absolute;
  font-family: "Press Start 2P", cursive;
  color: violet;
  font-size: 60px;
  padding-top: 40px;
}
/* end section */
.end {
  font-family: "Press Start 2P", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  background-color: rgb(109, 32, 160);
}
.last-line {
  width: 40%;
}
.last-p {
  width: 600px;
  padding: 20px;
  text-align: center;
  color: #fff;
}
.white {
  color: white;
}
.red {
  color: red;
}

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 255, 255); 
  border-radius: 15px;
}
 

::-webkit-scrollbar-thumb {
  background-color: #4500b3; 
  border-radius: 15px;
}


::-webkit-scrollbar-thumb:hover {
  background-color: #230091; 
}